@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui";



.home{
    /* min-width : 100vh; */
    min-height: 100vh;
}


.img{
    opacity: 40%;
    height: 400px;
    width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .wlh1 {
    font-size: 10vw;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: PaleGoldenRod;
    outline: none;
    text-align: center;
  }
  
  h1:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  
  .changeP{
    font-family: 'Gambetta', serif;

  }



  .wlp {
    font-size: 1.5em;
    line-height: 150%;
    text-align: center;
    color: MintCream;
    letter-spacing: .5px;
  }

  .section{
    border-top-left-radius: 30% 40%;
    border-top-right-radius: 30% 40%;
    /* height: 400px; */
    justify-content: center;
    align-items: center;
    text-align: justify;
  }
  


  